# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'pawn-build'
      'submenu': [
        {
          'label': 'Build'
          'command': 'pawn-build:build'
        }
      ]
    ]
  }
]
